**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/*.user
**/*.suo
**/node_modules
**/npm-debug.log
**/dist
**/logs
**/uploads
**/.DS_Store
**/Thumbs.db
**/*.md
!README.md
**/docker-compose*.yml
**/Dockerfile*
.dockerignore
