# QES Signatur
SIGNATUR_PROVIDER=Mock
SIGNATUR_SESSION_TIMEOUT=15

# D-Trust / sign-me
DTRUST_BASE_URL=https://api.sign-me.d-trust.net
DTRUST_CLIENT_ID=
DTRUST_CLIENT_SECRET=
DTRUST_REDIRECT_URI=

# Swisscom Trust Services
SWISSCOM_BASE_URL=https://ais.swisscom.com
SWISSCOM_CLIENT_ID=
SWISSCOM_CLIENT_SECRET=
